{% extends 'base.html.twig' %}
{% block title %} Erreur 404: {{ status_text }} {% endblock %}
{% block body %}

    <!-- Created by Solene ERNOUL -->
    <div id="wrapper">
        <section id="error404">
            <div id="container">
                <h1>Page 404, Baby !</h1>
                <p>Oups, il semblerait que la page que vous demandez n'existe pas...</p>
            </div>
        </section>
    </div>
{% endblock %}