<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}"/>
        <title>Erreur 404: {{ status_text }}</title>
    </head>
    <body>
        <h1>Page 404, Baby !</h1>
        <p>Oups, il semblerait que la page que vous demandez n'existe pas...</p>
    </body>
</html>
