{% extends 'base.html.twig' %}

{% block body %}
    <h1>Planning de {{ serrurier.nom }} {{ serrurier.prenom }}</h1>
    <div id='calendar'></div>
    <a class="btn" href="#">Demander une intervention</a>
    <a class="btn" href="{{ path('serrurier_index') }}">Revenir à la liste</a>
{% endblock %}
