<footer>
    <ul>
        <li>
            <a href="{{ path('page_ml') }}">Mentions Légales</a>
        </li>
        <li>
            <a href="{{ path('page_cgu') }}">Conditions d'Utilisations</a>
        </li>
        <li>
            <a href="{{ path('page_faq') }}">FAQ</a>
        </li>
    </ul>
    <div>© 2016 Serrurier-Project, Solène Ernoul & Ludovic Sire </div>
</footer>