<header>
    <nav>
        <h1><a href="{{ path('page_homepage') }}">Serrurier Symfony</a></h1>
        <ul id="nav-bar">
            <li>
                <a href="{{ path('page_homepage') }}">Accueil</a>
            </li>
            <li>
                <a href="">Mon compte</a>
            </li>
        </ul>
    </nav>
</header>