<header>
    <nav>
        <h1>Serrurier Symfony</h1>
        <ul id="nav-bar">
            <li>
                <a href="">Accueil</a>
            </li>
            <li>
                <a href="">Mon compte</a>
            </li>
        </ul>
    </nav>
</header>