{% extends 'base.html.twig' %}
{% block title %} Conditions d'utilisations {% endblock %}
{% block body %}
    <!-- Created by Solene ERNOUL -->
    <div id="wrapper">
        <div id="container">
            <h1>Login</h1>

            <input type="text" placeholder="Adresse e-mail"/></br>
            <input type="text" placeholder="Mot de passe"/>
            <input type="submit"/>


        </div>
{% endblock %}